.Img{
    width: 100px;
    position:absolute;
}
header:hover{
    background-color: red;
    transition: background-color 3s linear;
}
.Ava:hover{
 background-color: red;  
 transition: background-color 3s linear; 
}
.Tekst{
    background-color:orange;
    color: blue;
}
.Tekst3:hover{
    background-color:red;
    transition: background-color 3s linear;
}
.Tekst4:hover{
    background-color: red ;
    transition: background-color 3s linear;
}
.Tekst1{
    background-color: orange;
    color:blue;
 text-align: left;
}
.GdeI{
    color: purple;
    background-color: orange;
}
.mee{
    color: blue;
    background-color: orange;
    text-align:center;
}
.Ava{
    text-align:center;
}
.AClass{
    text-decoration: none;
    text-align: center;
}
